*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
body {
	background: #f6f3f7;
}

p {
	margin: 0;
}


.header {
	background: #fff;
	padding: 20px 0;
}

.control-box h2 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.control-box {
	border: 1px solid #dddcd8;
	
	background-color: #fff;
}

.control-box .links {
	list-style: none;
	padding: 0;
	margin: 0;
}

.control-box .links li {
	margin-bottom: 10px;
}

.control-box .links li a {
	color: #aa1212;
	text-decoration: underline;
}

.content {
	margin-top: 20px;
}

.breadcrumb p {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #777;
	font-size: 14px;
}

.breadcrumb p a {
	color: #aa1212;
}

.main-content h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-size: 27px;
	color: #000;
	margin-bottom: 20px;
}

.main-content p {
	font-size: 17px;
	color: #777;
	line-height: 29px;
	margin-bottom: 20px;
}

.main-content img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: auto;
}

.main-content h1 {
	margin-bottom: 20px;
}

.footer {
	margin-top: 40px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #fff;
	background-color: #fff;

}

.footer ul {
	margin-bottom: 0;
}
.footer ul li a {
	color: #aa1212;
	font-size: 14px;
}